<main>

    <div class="preloader bg-dark flex-column justify-content-center align-items-center">
        <div class="position-relative">
            <img src="../assets/img/brand/light-without-letter.svg" alt="Logo loader">
            <img src="../assets/img/brand/letter.svg" class="rotate-letter" alt="Letter loader">
        </div>
    </div>

        <!-- Section -->
    <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark py-5 py-lg-0" data-background="../assets/img/form-image.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="text-center text-md-center mb-5 mt-md-0 text-white">
                        <h1 class="mb-0 h3">S'inscrire</h1>
                    </div>
                </div>

                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="signin-inner mt-3 mt-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                            <%= render "devise/shared/error_messages", resource: resource %>
                            <!-- Form -->
                            <div class="form-group">
                                <label for="first_name">Prénom</label>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="fas fa-user">
                                            </span>
                                        </span>
                                    </div>
                                    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :html => {:class => "form-control"}%>
                                </div>
                            </div>
                            <!--End of Form-->
                            <!-- Form -->
                            <div class="form-group">
                                <label for="last_name">Nom de famille</label>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="fas fa-user">
                                            </span>
                                        </span>
                                    </div>
                                    <%= f.text_field :last_name, :html => {:class => "form-control"}%>
                                </div>
                            </div>
                            <!--End of Form-->
                            <div class="form-group">
                                <label for="email">Email</label>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="fas fa-envelope">
                                            </span>
                                        </span>
                                    </div>
                                    <%= f.email_field :email, autofocus: true, autocomplete: "email", :html => {:class => "form-control"}%>
                                </div>
                            </div>
                            <!-- End of Form -->
                            <div class="form-group">
                                <!-- Form -->
                                <div class="form-group">
                                <label for="password">Mot de passe</label>
                                    <% if @minimum_password_length %>
                                        <em>(<%= @minimum_password_length %> lettres minimum)</em>
                                    <% end %>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <span class="fas fa-unlock-alt">
                                                </span>
                                            </span>
                                        </div>
                                        
                                        <br />
                                        <%= f.password_field :password, autocomplete: "current-password", :html => {:class => "form-control"} %>
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="form-group">
                                    <label for="password_confirm">Confirmer le mot de passe</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                                        </div>

                                        <br />
                                        <%= f.password_field :password_confirmation, autocomplete: "new-password", :html => {:class => "form-control"} %>
                                    </div>
                                </div>   
                            </div>

                            <div class="actions">
                                <%= f.submit "Inscription" %>
                            </div>
                        <% end %>

                        <div class="form-group">
                            Vous avez déjà un compte ?
                            <%= render "devise/shared/links" %>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

    <!-- Core -->
<script src="../vendor/jquery/dist/jquery.min.js"></script>
<script src="../vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../vendor/headroom.js/dist/headroom.min.js"></script>
<script src="../vendor/onscreen/dist/on-screen.umd.min.js"></script>

<!-- NoUISlider -->
<script src="../vendor/nouislider/distribute/nouislider.min.js"></script>

<!-- Bootstrap Datepicker -->
<script src="../vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<!-- jQuery Waypoints -->
<script src="../vendor/waypoints/lib/jquery.waypoints.min.js"></script>

<!-- Owl acrousel -->
<script src="../vendor/owl.carousel/dist/owl.carousel.min.js"></script>

<!-- Smooth scroll -->
<script src="../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Fancybox -->
<script src="../vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>

<!-- Sticky sidebar -->
<script src="../vendor/sticky-sidebar/dist/sticky-sidebar.min.js"></script>

<!-- Mapbox & Leaflet.js -->
<script src="../vendor/leaflet/dist/leaflet.js"></script>

<!-- Chartist -->
<script src="../vendor/chartist/dist/chartist.min.js"></script>
<script src="../vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

<!-- Vector Maps -->
<script src="../vendor/jqvmap/dist/jquery.vmap.min.js"></script>
<script src="../vendor/jqvmap/dist/maps/jquery.vmap.usa.js"></script>

<!-- Sliderform -->
<script src="../assets/js/jquery.slideform.js"></script>

<!-- Spaces custom Javascript -->
<script src="../assets/js/spaces.js"></script>