<ul>Liste des produits du panier

<% @cart.orders.each do |item| %>
  <li><%= item.item.title %> - <%= number_to_currency(item.item.price, unit: "€", separator: ".", format: "%n %u") %> </li>
  <%= button_to "supprimer du panier", item, method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-primary" %>
  <% end %>
</ul>

<p>Sous-total Panier :</p>
<p class=""><%= number_to_currency(@cart.total, unit: "€", separator: ".", format: "%n %u") %></p>

<%= link_to "Passer commande", new_payment_path(total: @cart.total), class: "btn btn-primary"%>

