<%= form_tag payments_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Total: <%= number_to_currency(@total, unit: "€", separator: ".", format: "%n %u") %></span>
    </label>
  </article>

  <input name="total" type="hidden" value=<%= @total %>>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="Payer pour les chattons"
    data-amount="<%= @total.to_d*100 %>"
    data-currency="eur"
    data-locale="auto">
  </script>
<% end %>