<div class="card border-light mb-4 animate-up-5">
  <div class="row no-gutters align-items-center">
    <div class="col-12 col-lg-6 col-xl-5" style="height: 300px;">
      <a href="<%= item_path(item.id) %>">
        <img src="<%= item.image_url %>" alt="lifestyle office" class="card-img p-2 rounded-xl" style="height: 300px; width: auto">
      </a>
    </div>
    <div class="col-12 col-lg-6 col-xl-7">
      <div class="card-body">
        <a href="<%= item_path(item.id) %>">
          <h4 class="h5"><%= item.title %></h4>
        </a>
        <div class="d-flex my-3">
          <span class="star fas fa-star text-warning"></span> 
          <span class="star fas fa-star text-warning"></span> 
          <span class="star fas fa-star text-warning"></span> 
          <span class="star fas fa-star text-warning"></span> 
          <span class="star fas fa-star text-warning"></span>
          <span class="badge badge-pill badge-primary ml-2">5</span>
        </div> 
        <div class="d-flex my-3">
          <%= item.description %>
        </div>
        <div class="d-flex justify-content-between">
          <div class="col pl-0">
            <span class="text-muted font-small d-block">Prix</span>
            <span class="h6 text-dark font-weight-bold"><%= item.price %> €</span>
          </div>
          <%# on pourrais rajouter une colone nombre de fois vendu si on as le temps
            <div class="col">
              <span class="text-muted font-small d-block mb-2">People</span>
              <span class="h5 text-dark font-weight-bold">24</span>
            </div>
          %>
          <% if user_signed_in? %>
            <div class="col">
              <%= link_to "Ajouter au panier", orders_path(item_id: item.id), method: 'POST' , class: "btn btn-primary"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>