<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      Voici ton email : <%= current_user.email %>
    </li>

    <li>
      Voici ton nom : <%= current_user.first_name %> <%= current_user.last_name %>
    </li>



    <li>
      <%= link_to "Edit profile", edit_user_registration_path %>
    </li>

  <% else %>
    <li>    
      <%= link_to "Sign in", new_user_session_path %>
    </li>

    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>

  <% end %>
</ul>



<p>Voici tous les petits chatons trop mignons :</p>

<div class="list-group-item list-group-item-action" style="border: none">

  <% @item.each do |item| %>


 <div class="card" style="width : 18rem;">
     <div class="card-body">
     <h5 class="card-title"><%= item.title %> </h5>
     <img src="<%= item.image_url %>">
     <p class="card-text"><%= item.description %></p>
     <p class="card-text"><%= item.price %></p>
     <%= link_to "Voir le potin entier", item_path(item.id), class: "card-text"%>


</div>
<%end%>