<div class="section section-header section-image bg-tertiary overlay-primary text-white overflow-hidden pb-6" data-background="url(<%= asset_path "chaton_2.jpg" =%>)" style="background-image: url(<%= asset_path "banner.jpg" =%>);">
  <div class="container z-2">
    <div class="row justify-content-center pt-3">
      <div class="col-12 text-center">
        <h1 class="mb-5">Trouve la photo du <span class="font-weight-bolder">chaton</span> de tes rêves</h1>
      </div>
    </div>
  </div>
</div>

<div class="section section-lg pt-6">
  <div id="spaces-container" class="container">
    <div class="row">
      <div class="col-12">
        <div class="justify-content-between align-items-center d-none d-md-flex">
          <div class="mr-3">
            <h2 class="h5 mb-3 mb-md-0">Nous avons <span class="font-weiht-bolder text-primary"><%= @items.length %> </span>photos de chatons à vous proposer :</h2>
          </div>
          <div class="nav-wrapper position-relative p-0">
            <ul class="nav nav-pills small-pills" id="tab-34" role="tablist">
              <li class="nav-item pr-0">
                <a class="nav-link text-sm-center border-0 active" id="tab-link-example-14" data-toggle="tab" href="#link-example-14" role="tab" aria-controls="link-example-14" aria-selected="false">
                    <span class="nav-link-icon d-block"><span class="fas fa-th-large"></span></span>
                </a>
              </li>
              <li class="nav-item pr-0">
                <a class="nav-link text-sm-center border-0" id="tab-link-example-13" data-toggle="tab" href="#link-example-13" role="tab" aria-controls="link-example-13" aria-selected="true">
                    <span class="nav-link-icon d-block"><span class="fas fa-th-list"></span></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-content mt-4 mt-lg-4" id="tabcontentexample-5">
          <div class="tab-pane fade" id="link-example-13" role="tabpanel" aria-labelledby="tab-link-example-13">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-10 col-md-6 col-lg-12 mb-4">
                <!-- Card 1-->


                <% @items.each do |item| %>
                  <%= render 'kitten_card_1', item: item %>
                <%end%>
                <!-- End of Card -->
              </div>
            </div>
          </div>
          <div class="tab-pane fade show active" id="link-example-14" role="tabpanel" aria-labelledby="tab-link-example-14">
            <div class="row">
              <!-- Card 2-->
              <% @items.each do |item| %>
                <%= render 'kitten_card_2', item: item %>
              <%end%>
              <!-- End of Card -->
            </div>
          </div>
          <%# si on veux on poura faire des gage de navigation
          <div class="col mt-3 d-flex justify-content-center">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" tabindex="-1" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
          %>
        </div>
      </div>
    </div>
  </div>
</div>