 <main>
        <!-- Hero -->

        <div class="section section-lg pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Tab -->
                        <nav>
                            <div class="nav nav-tabs flex-column flex-md-row border-light mb-3" id="nav-tab"
                                role="tablist">
                                <h5><%= @item.title %> </h5>
                            </div>
                        </nav>
                        <!-- About Tab -->
                        <div class="tab-content mt-5 mb-3" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                <div class="row mb-5">
                                    <div class="col-12">
                                            
                                                <a href="../assets/img/conference-office.jpg" class="mb-4 col-6 col-sm-4 img-fluid"
                                                    data-fancybox="images" data-caption="Conference Space">
                                                    <img class="rounded" src="<%= @item.image_url %>" alt="" />

                                                </a>

                                            </br>  </br>  </br>

                                            
                                        
                                        <p> <%= @item.description %> 
                                        </p>

                                    </div>
                                </div>

                            </div>
                            <!-- End of About Tab -->

                        </div>
                        <!-- End of tab -->
                    </div>
                    
                    
                    <aside class="col-12 col-lg-4 mt-3 mt-lg-0">
                    	</br> </br></br></br> 

                        <div class="card bg-soft border-light p-3">

                              <div class="d-flex justify-content-between">
                                <div class="col pl-0">
                                  <span class="text-muted font-small d-block mb-2">Prix</span>
                                  <span class="h5 text-dark font-weight-bold"><%= @item.price %> €</span>
                                </div>
                                <%# on pourrais rajouter une colone nombre de fois vendu si on as le temps
                                <div class="col">
                                  <span class="text-muted font-small d-block mb-2">People</span>
                                  <span class="h5 text-dark font-weight-bold">24</span>
                                </div>
                                %>
                            <% if user_signed_in? %>
                                <div class="col">
                                    <%= link_to "Ajouter au panier", orders_path(item_id: @item.id), method: 'POST' , class: "btn btn-primary"%>
                                </div>

                            <%else %>
                                <div class="col">
                                    <%= link_to "Se connecter pour acheter cette image", new_user_session_path, class: "btn btn-primary"%>
                                </div>

                            <% end %>
                        </div>
  

                     </div>

                    </aside>
                </div>
            </div>
        </div>
        <section class="section bg-soft">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="mb-5 font-weight-bold">Les autres photos que vous pourriez aimer</h4>
                    </div>
            
                        <div class="tab-pane fade show active" id="link-example-14" role="tabpanel" aria-labelledby="tab-link-example-14">
                        <div class="row">
                          <!-- Card 2-->
                              <% 3.times do  %>
                                <%= render 'kitten_card_2', item: @item %>
                              <%end%>
                          <!-- End of Card -->
                        </div>
                      
                      </div>

                </div>
            </div>
        </section>
        <!-- End of section -->
    </main>