<nav id="navbar-main" class="navbar navbar-main navbar-theme-primary navbar-expand-lg py-lg-3 px-lg-6 navbar-dark">
  <div class="container">
    <div>
      <a class="navbar-brand @@logo_classes" href="<%= root_path %>" >
        <%= image_tag('logo.jpg', class: 'common', alt: 'Logo light') %>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar_global" style="">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="<%= root_path %>">
              <%= image_tag('logo.jpg', alt: 'Logo Impact') %>
            </a>
          </div>
          <div class="col-6 collapse-close">
            <%# il faut trouver comment ajouter le simbole coix mais ça marche %>
            <a href="#" role="button" class="fas fa-times collapsed" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"></a>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover justify-content-center">
        <%# quand on aura des admin
        <li class="nav-item">
          <a href="#"class="nav-link">
            <span class="nav-link-inner-text mr-1">Ajoute une photo</span>
            <i class="fas fa-angle-down nav-link-arrow"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="#"class="nav-link">
            <span class="nav-link-inner-text mr-1">Dashboard Admin</span>
            <i class="fas fa-angle-down nav-link-arrow"></i>
          </a>
        </li>
        %>
      </ul>
    </div>
    <div class="d-none d-lg-block @@cta_button_classes">
      <% if user_signed_in? %>
        <% if current_user.cart != nil %>
          <a href="<%= cart_path(current_user.cart.id)%>" class="btn btn-md btn-secondary animate-up-2"><i class="fas fa-shopping-bag mr-2"></i>Mon panier</a>
        <%end%>
      <% else %>
        <a href="<%= new_user_session_path %>" class="btn btn-md btn-outline-white animate-up-2">
          <span class="d-xl-inline">Se connecter</span>
        </a>
        <a href="<%= new_user_registration_path %>" class="btn btn-md btn-outline-white animate-up-2 mr-3">
          <span class="d-xl-inline">S'inscrire</span>
        </a>
      <% end %>

    </div>
    <div class="d-flex d-lg-none align-items-center">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    </div>
  </div>

  <% if user_signed_in? %>

  <div class="link_personal_profile mr-2 btn d-inline-flex btn-md align-items-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= active_link_to user_path(current_user.id)  do %>
      <%if current_user.avatar.attached?%>
        <span class="mr-2"><%= image_tag(current_user.avatar, :alt => 'real avatar', class:'rounded-circle', style: 'height:32px;width:32px') %></span>
      <%else%>
        <span class="mr-2"><%= image_tag('unnamed.jpg', :alt => 'default avatar', class:'rounded-circle', style: 'height:32px;width:32px') %></span>
      <% end %>
      <span><strong><%= current_user.first_name %></strong></span>
    <% end %>
  </div>



  <div class="dropdown-menu dropdown-menu-right text-left mr-3" aria-labelledby="dropdownMenuButton">

    <div class="link_personal_profile">
      <%= link_to user_path(current_user.id), class:"btn btn-light rounded d-flex mx-2 align-items-center", style:"height: 80px"  do %>
        <%if current_user.avatar.attached?%>
        <span class="mr-2"><%= image_tag(current_user.avatar, :alt => 'real avatar', class:'rounded-circle', style: 'height:64px;width:64px') %></span>
      <%else%>
        <span class="mr-2"><%= image_tag('unnamed.jpg', :alt => 'default avatar', class:'rounded-circle', style: 'height:64px;width:64px') %></span>
      <% end %>
        <div class="text-left">
          <strong><%= current_user.first_name %> <%= current_user.last_name %></strong><br>
          <span class="text-muted">Voir mon profil</span>
        </div>
      <% end %>
    </div>

    <hr/>

    <div class="link_personal_settings">
      <%= link_to edit_user_path(current_user.id), class:"btn btn-light-custom-profile rounded d-flex mx-2 align-items-center", style:"height: 32px"  do %>
        <i class="fas fa-user mr-2"></i>
        <span>Modifier mon profil</span>
      <% end %>
    </div>

    <div class="link_personal_settings">
      <%= link_to edit_user_registration_path(current_user.id), class:"btn btn-light-custom-profile rounded d-flex mx-2 align-items-center", style:"height: 32px"  do %>
        <i class="fas fa-cog mr-2"></i>
        <span>Modifier mes informations</span>
      <% end %>
    </div>

    <div class="link_logout">
      <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-light-custom-profile rounded d-flex mx-2 align-items-center", style:"height: 32px"  do %>
        <i class="fas fa-sign-out-alt mr-2"></i>
        <span>Se déconnecter</span>
      <% end %>
    </div>

  </div>

<% end %>


</nav>