<nav id="navbar-main" class="navbar navbar-main navbar-theme-primary navbar-expand-lg py-lg-3 px-lg-6 navbar-dark">
  <div class="container">
    <div class="navbar-collapse collapse" id="navbar_global" style="">
      <a class="navbar-brand @@logo_classes" href="<%= root_path %>">
        <img class="navbar-brand-dark common" src="url(asset_path(logo.jpg))" height="35" alt="Logo light">
        <img class="navbar-brand-light common" src="url(asset_path(logo.jpg))" height="35" alt="Logo dark">
      </a>
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="#">
              <img src="#" height="35" alt="Logo Impact">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <%# il faut trouver comment ajouter le simbole coix mais ça marche %>
            <a href="#" role="button" class="fas fa-times collapsed" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"></a>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover justify-content-center">
        <%# quand on aura des admin
        <li class="nav-item">
          <a href="#"class="nav-link">
            <span class="nav-link-inner-text mr-1">Ajoute une photo</span>
            <i class="fas fa-angle-down nav-link-arrow"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="#"class="nav-link">
            <span class="nav-link-inner-text mr-1">Dashboard Admin</span>
            <i class="fas fa-angle-down nav-link-arrow"></i>
          </a>
        </li>
        %>
      </ul>
    </div>
    <div class="d-none d-lg-block @@cta_button_classes">
      <% if user_signed_in? %>
        <a href="<%= edit_user_registration_path %>" class="btn btn-md btn-outline-white animate-up-2">
          <span class="d-xl-inline">Edite Profil</span>
        </a>
        <a href="<%= destroy_user_session_path %>" data-method="delete" class="btn btn-md btn-outline-white animate-up-2 mr-3">
          <span class="d-xl-inline">Se déconnecter</span>
        </a>
      <% else %>
        <a href="<%= new_user_session_path %>" class="btn btn-md btn-outline-white animate-up-2">
          <span class="d-xl-inline">Se connecter</span>
        </a>
        <a href="<%= new_user_registration_path %>" class="btn btn-md btn-outline-white animate-up-2 mr-3">
          <span class="d-xl-inline">S'inscrire</span>
        </a>
      <% end %>
      <a href="#" class="btn btn-md btn-secondary animate-up-2"><i class="fas fa-shopping-bag mr-2"></i> Buy now</a>
    </div>
    <div class="d-flex d-lg-none align-items-center">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    </div>
  </div>
</nav>